 @font-face {font-family: 'poppinsbold';src: url(../fonts/Poppins-Bold.ttf);}
 .poppinsbold {font-family: 'poppinsbold', 'roboto', sans-serif;letter-spacing: -2px;}

 body {
    display: flex;
    min-height: 100px;
    flex-direction: column;
    background-color: #272727;
  }

::-webkit-scrollbar {
   width: 10px;

}
::-webkit-scrollbar-track {
   background: white;
}
::-webkit-scrollbar-thumb {
   background: #272727;
   border-radius: 100px;
   height: 10px;
}



html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif , inherit;
  }
p{
  font-size: 16px;
}
        
  main {
    flex: 1 0 auto;
  }
      
 nav ul a, nav .brand-logo {
    color: #444;
}

ul li a:hover{
	background: none;
	color: blue;
}


.button-collapse {
  color: #26a69a;
}          

.banner{
    z-index: 1;
    height: 495px;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    background-position: center center;
    position: relative;
    background: url(../img/10.jpg)  0 fixed;

}

.banner1{
  z-index: 1;
  height: auto;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  background-position: center center;
  position: relative;
  background: url('../img/10.jpg') 0 fixed;
}

.banner2{
  z-index: 1;
  height: auto;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  background-position: bottom;
  position: relative;
  background: url('../img/bg2-4.jpg') 0 ;
}


.bg-experience{
  background: url('../img/element.png');
}

.bg-skill{
  background: url('../img/element1.png');
  background-position: center;
}

.section-bg{
    z-index: 1;
    height: 495px;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    background-position: center center;
    position: relative;
    background: url(../img/bg2-4.jpg)  0 fixed;
}


.kotak{
  display: block;width: 260px;padding: 5px 15px;border: solid 1px #fff; 
  color: #fff;
  height: 180px;

}


.kotak h2:hover{
  display: block;width: 260px;padding: 5px 15px;border: solid 1px #3498db; 
  color: #272727;
  height: 180px;
  background-color:#3498db;


}


.b{
   line-height: 1.714;
    margin-bottom: 1.8rem;
    letter-spacing: .1em;
}

.wrap {display: block;padding: 15px;position: relative;top: 50%;transform: translateY(-50%);}
.bt a {display: block;width: 150px;padding: 5px 15px;text-align: center;color: #fff;border: solid 1px #fff;text-transform: uppercase;}
.bt a:hover{border-color:dodgerblue;color: dodgerblue;}

h2, .h2 {
    font-weight: 600;
    font-size: 2.571rem;
    line-height: 1.166;
    color: #fff;
    opacity: 5;
    letter-spacing: 0;
    margin: 2.6rem 0;
}


.subtitle-top {
    line-height: 1.714;
    margin-bottom: 1.8rem;
    letter-spacing: .1em;
    color: #fff;
}

.title-uppercase {
    text-transform: uppercase;
    letter-spacing: -.025em;
    line-height: 1.33333;
    margin: 0 0 5rem;
}


.progress-bars {
    margin-top: 5rem;
}

.pull-right {
    float: right;
}
.proggress{
height: 8px;
    margin-bottom: 50px;
}
.progress {
    height: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    background-color: #f4ca30;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}


.chipz >span{
 margin-top: 5px;
}



/*-------------
dari portofolio
----------*/

.bg-portofolio{
  background-image: url(../img/Facilities-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ccc;
  
}

.custom-page-title {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: normal;
    margin: 15px 0;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
    color: #000;
}

.custom-page-title.medium {
    font-size: 20px;
    font-size: 2rem;
    margin-top: -15px;
}

.custom-page-title span{
    display: inline-block;
    position: relative;
}

.custom-page-title span::before{
    border-top: 1px solid rgba(52, 152, 219,1.0);
    content: "";
    height: 5px;
    position: absolute;
    top: 50%;
    width: 50px;
    margin-left: -60px;
}

.custom-page-title span::after{
    border-top: 1px solid rgba(52, 152, 219,1.0);
    content: "";
    height: 5px;
    position: absolute;
    top: 50%;
    width: 50px;
    margin-left:10px;

}

.custom-page-title span::before{
    margin-right: 15px;
    right: 100%;
}

.custom-page-title span::after{
    left: 100%;
    margin-left: 15px;
}

@media only screen and (max-width: 767px){
.custom-page-title span::before, .custom-page-title span::after {
    width: 20px;
    margin-left: 0;
    margin-right: 0;
}
}




.single-portfolio a {
  display: block;
  line-height: 0;
  position: relative;
  margin-bottom:25px;}
.single-portfolio a::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5);
  transition: all 0.3s ease 0s;
  width: 100%;}
.single-portfolio:hover a::before {
    opacity: .5;
    transform: scale(1);}
.single-portfolio a::after {
  color: #fff;
  content: "+";
  font-size: 60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: scale(0);
  transition: all 0.3s ease 0s;}
.single-portfolio:hover a::after {
    transform: scale(1);
}



/*-----------------
fortopolio bogorvalley
---------------*/

.parallax-bogor{
   z-index: 1;
    height: 245px;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    background-position: center center;
    position: relative;
    background: url(../img/10.jpg)  0 fixed;
}


.bg-cover{
   background-image: url(../img/cover4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ccc;
}

.gallery-item>img{
  width: 370px;
  height: 250px;
}


/*--------------
portofolio gosip
----------*/

.bg-cover1{
   background-image: url(../img/cover5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ccc;
}

/*-------------------
certificate
---------------*/

.card-photo{
  width: 100%;
  height: 225px;
  background-size: cover ;
  background-position: center;
  transition: 0.3s all ease-in-out;-moz-transition: 0.3s all ease-in-out;-o-transition: 0.3s all ease-in-out;-webkit-transition: 0.3s all ease-in-out;
}

.ig-photo:hover .card-data {animation: muncul 0.6s;transform: scale(1);}
.ig-photo:hover .card-photo {transform: scale(1.5, 1.5);}

/*----------------
buat footer
------------*/

@media only screen and (max-width: 600px) {
   .revo{
    margin-top: 10px;
  }
}



